<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".OffnetIncomingCall"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:foregroundServiceType="microphone|camera"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"  />

        <service
            android:name=".AudioCallService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone|camera" />

        <activity
            android:name=".OutgoingCall"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:foregroundServiceType="microphone|camera"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".AppToAppCall"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:foregroundServiceType="microphone|camera"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".AppToAppVideo"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:foregroundServiceType="microphone|camera"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />
        <activity
            android:name=".ReceiverActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:foregroundServiceType="microphone|camera"
            android:showOnLockScreen="true"
            android:turnScreenOn="true" />

        <receiver android:name=".utils.NotificationActionReceiver" />
    </application>

</manifest>